.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Changed from 100vh to 100% */
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensures it stays on top of all content */
  }
  
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 320px;
    display: flex;
    flex-direction: column;
  }
  
  .modal h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .inputGroup {
    margin-bottom: 10px;
  }
  
  .label {
    font-size: 14px;
    font-family: var(--font--primary);
    color: var(--text--black);
    margin-bottom: 5px;
    display: block;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .saveButton {
    background-color: var(--base--primary);
    color: var(--text--white);
    border: none;
    padding: 10px;
    font-size: 14px;
    font-family: var(--font--secondary);
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
    transition: background-color 0.2s, transform 0.2s;
  }
  
  .saveButton:hover {
    background-color: darkred;
    transform: scale(1.05);
  }
  
  .cancelButton {
    background-color: var(--base--black);
    color: var(--text--white);
    border: none;
    padding: 10px;
    font-size: 14px;
    font-family: var(--font--secondary);
    border-radius: 8px;
    cursor: pointer;
    margin-top: 8px;
    transition: background-color 0.2s, transform 0.2s;
  }
  
  .cancelButton:hover {
    background-color: #333;
    transform: scale(1.05);
  }
  