.footer {
  color: var(--text--black);
  text-align: center;
  padding: 15px;
  font-size: 14px;
  width: 100%;
  background-color: var(--base--white);
  position: relative; /* No longer absolute */
  margin-top: auto; /* Pushes footer to bottom */
}

.footer p {
  margin: 2px 0;
  font-size: 12px;
}
