/*Login styles*/
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--base--white);
}

/* Header with Logo and Login Button */
.header {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
  }
  
  /* Travdoodle Logo */
  .logo {
    font-size: 28px;
    font-family: var(--font--primary);
    color: var(--text--primary);
  }
  
  /* Login Button */
  .loginButton {
    background: transparent;
    color: var(--text--black);
    border: 2px solid var(--text--black);
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .loginButton:hover {
    background: var(--text--black);
    color: var(--base--white);
  }

.loginTitle {
  font-family: var(--font--primary);
  font-size: 2.5rem;
  color: var(--base--primary);
  margin-bottom: 20px;
}

.loginForm {
  background-color: ghostwhite;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.formField {
  margin-bottom: 15px;
}

.formField label {
  display: block;
  font-family: var(--font--secondary);
  color: var(--text--black);
  margin-bottom: 5px;
}

.formInput {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1rem;
}

.formInput:focus {
  outline: none;
  border-color: var(--base--primary);
  box-shadow: 0 0 5px var(--base--primary);
}

.errorMessage {
  color: var(--base--primary);
  font-size: 0.875rem;
  margin-top: 5px;
}

.formButton {
  background-color: var(--base--primary);
  color: var(--text--white);
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.formButton:hover {
  background-color: darkred;
}

.formButton:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.signupLink {
  margin-top: 15px;
  font-family: var(--font--secondary);
  color: var(--text--black);
}

.signupLink a {
  color: var(--base--primary);
  text-decoration: none;
  font-weight: bold;
}

.signupLink a:hover {
  text-decoration: underline;
}

.footer {
  color: var(--text--black);
  text-align: center;
  padding: 15px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 2px 0;
  font-size: 12px;
}


